:root{
    --font-family: "Roboto", sans-serif ;
    --color: #434455;
    --background-color: #ffffff;
}
body{
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
}