:root{
    --font-family: "Roboto", sans-serif ;
    --color: #434455;
    --background-color: #ffffff;
}
body{
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
}
/* Header */
/* Navigation */
/* Logo */
.logo{
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
}
.logo-2{
color: #2e2f42;
}
.link a{
    text-decoration: none;
}

/* List #1*/
.list{
    list-style: none;
}
.spisok{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.spisok:hover{
    color: #404bbf;
}
.spisok:focus{
    color: #404bbf;
}
