body{
    font-family: "Roboto", sans-serif;
    color: #434455;
}
/* NAV */
.logo{
    font-family: 'Raleway', sans-serif;
     font-weight: 800;
     font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;
}
.link{
    text-decoration: none;
}
.stud{
    color: #2e2f42;
}
/* LIST */
.list{
    list-style: none;
}
.headli{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.headli:hover{
    color: #404bbf;
}
.headli:focus{
    color: #404bbf;
}

/* ADDRESS */
.adds{
    font-style: normal;
}
.addli{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.addli:hover{
    color: #404bbf;
} 
.addli:focus{
    color: #404bbf;
}
/* MAIN/SECTION FIRST LIST*/
.butt{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}
.butt:hover{
    color: #FFFFFF;
    background-color: #404BBF;
}
.butt:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}
/* SECOND LIST */
.lihd{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.lips{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* Footer */
.legs{
    background-color: #2e2f42;
}
.leglog{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.legsnap{
    color: #f4f4fd;
}
.legp{
    color: #F4F4FD;
}