:root{
    --font-family: "Roboto", sans-serif ;
    --color: #434455;
    --background-color: #ffffff;
}
body{
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
}
/* PORTFOLIO */
.hea-d{
    border-bottom: 1px solid #e7e9fc;
}
/* NAV */
.nav-i{
    display: flex;
    align-items: center; 
}
.logo{
    font-family: 'Raleway', sans-serif;
     font-weight: 800;
     font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;
      margin-right: 76px;
      
}
.headh{
    border-bottom: 1px solid #e7e9fc;
    background: var(--white, #FFF);
}
.addrlione{
    margin-right: 40px;
}
.addlitwo{
    margin-right: 0;
}
.nest{
    display: flex;
    align-items: center;
}
.dis{
    display: flex;
    gap: 40px;
}
.container{
    display: flex;
    width: 1158px;
    margin: 0;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}
.link{
    text-decoration: none;
}
.imag{
 display: block;
}
.fles{
    display: flex;
    gap: 40px;
}
.numone{
    margin-right: 40px
}
.numthr{
    margin-right: 0;
}
.stud{
    color: #2e2f42;
}
/* LIST */
.list{
    list-style: none;
    display: flex;
    gap: 40px;
}
.head-li{
    display: flex;
    gap: 40px;
}
.headli{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.headli:hover{
    color: #404bbf;
}
.headli:focus{
    color: #404bbf;
}

/* ADDRESS */
.adds{
    font-style: normal;
}
.addli{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.addli:hover{
    color: #404bbf;
} 
.addli:focus{
    color: #404bbf;
}
/* MAIN/SECTION FIRST LIST*/
.sec-por-one{
    padding-top: 96px; 
    padding-bottom: 120px;
}
.first-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.butt{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    padding: 12px 24px ;
    border-radius: 4px;
}
.butt:hover{
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}
.butt:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}
/* SECOND LIST */
.lihd{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.second-list-item{
    width: calc((100% - 48px) / 3);
}
.expl{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
    
}
.second-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.lips{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* Footer */
.legs{
    background-color: #2e2f42;
}
.leglog{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.legsnap{
    color: #f4f4fd;
}
.legp{
    color: #F4F4FD;
}


/* INDEX */
/* Header */
/* Navigation */
/* Logo */
.logosecond{
    color: #2e2f42;
    }
    
    /* List */
    .spisok{
        color: #2e2f42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0 24px;
    }
    .spisok:hover{
        color: #404bbf;
    }
    .spisok:focus{
        color: #404bbf;
    }
    /* Address */
    .addr{
        font-style: normal;
    }
    .info{
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .info:hover{
        color: #404bbf;
    }
    .info:focus{
        color: #404bbf;
    }
    /* FIRS SECTION */
    .secnone{
        background-color: #2e2f42;
        padding: 188px 0 188px;
    }
    .zagoo{
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
        max-width: 496px;
    }
    .buttn{
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        background-color: #4d5ae5;
        border-radius: 4px;
        cursor: pointer;
    }
    .buttn:hover{
        background-color: #404BBF;
    }
    .buttn:focus{
        background-color: #404BBF;
    }
    /* SECOND SECTION */
    .paragr{
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    .sect{
        padding: 120px 0 120px;
    }
    .visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    .listone{
        display: flex;
        gap: 24px;
    }
    .listones{
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
    .copyr{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }
    /* THIRD SECTION */
    .secret{
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
    }
    .lisect{
        width: calc((100% - 48px) / 3);

    }
    .list-secret{
        display: flex;
        gap: 24px;

    }
    .secrets{
        padding-bottom: 120px;
    }
    /* FOURTH SECTION */
    .fourth{
        background-color: #F4F4FD;
        padding: 120px 0;

    }
    .fourthhead{
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
    }
    /* FOURTH SECTION LIST */
    .fourthlist{
        background-color: #FFFFFF;
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
    }
    .fourth-list{
        display: flex;
        gap: 24px;

    }
    .dist{
        padding: 32px 0;
    }
    .fourthlisthead{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
    }
    .fourthlistparagr{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
    }
    
    /* FOOTER */
    .foot{
        background-color: #2e2f42;
        padding: 100px 0;
    }
    .feet{
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block; 
        margin-bottom: 16px;
    }
    .feetone{
        color: #f4f4fd;
    }
    .feetlast{
        line-height: 1.5;
        color: #F4F4FD;
        letter-spacing: 0.02em;
        max-width: 264px
    }