:root{
    --font-family: "Roboto", sans-serif ;
    --color: #434455;
    --background-color: #ffffff;
}
body{
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
}
/* PORTFOLIO */
/* NAV */
.logo{
    font-family: 'Raleway', sans-serif;
     font-weight: 800;
     font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;
}
.link{
    text-decoration: none;
}
.stud{
    color: #2e2f42;
}
/* LIST */
.list{
    list-style: none;
}
.headli{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.headli:hover{
    color: #404bbf;
}
.headli:focus{
    color: #404bbf;
}

/* ADDRESS */
.adds{
    font-style: normal;
}
.addli{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.addli:hover{
    color: #404bbf;
} 
.addli:focus{
    color: #404bbf;
}
/* MAIN/SECTION FIRST LIST*/
.butt{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}
.butt:hover{
    color: #FFFFFF;
    background-color: #404BBF;
}
.butt:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}
/* SECOND LIST */
.lihd{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.lips{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* Footer */
.legs{
    background-color: #2e2f42;
}
.leglog{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.legsnap{
    color: #f4f4fd;
}
.legp{
    color: #F4F4FD;
}


/* INDEX */
/* Header */
/* Navigation */
/* Logo */
.logosecond{
    color: #2e2f42;
    }
    
    /* List */
    .spisok{
        color: #2e2f42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    .spisok:hover{
        color: #404bbf;
    }
    .spisok:focus{
        color: #404bbf;
    }
    /* Address */
    .addr{
        font-style: normal;
    }
    .info{
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .info:hover{
        color: #404bbf;
    }
    .info:focus{
        color: #404bbf;
    }
    /* FIRS SECTION */
    .secnone{
        background-color: #2e2f42;
    }
    .zagoo{
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
    }
    .buttn{
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
    }
    .buttn:hover{
        background-color: #404BBF;
    }
    .buttn:focus{
        background-color: #404BBF;
    }
    /* SECOND SECTION */
    .paragr{
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    .copyr{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    /* THIRD SECTION */
    .secret{
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
    
    }
    /* FOURTH SECTION */
    .fourth{
        background-color: #F4F4FD;
    }
    .fourthhead{
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
    }
    /* FOURTH SECTION LIST */
    .fourthlist{
        background-color: #FFFFFF;
    }
    .fourthlisthead{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }
    .fourthlistparagr{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    /* FOOTER */
    .foot{
        background-color: #2e2f42;
    }
    .feet{
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    }
    .feetone{
        color: #f4f4fd;
    }
    .feetlast{
        line-height: 1.5;
        color: #F4F4FD;
        letter-spacing: 0.02em;
    }